NODE_ENV=development
PORT=3000
WUZAPI_URL=https://wuzapi.dsilvamoda.cloud
WUZAPI_ADMIN_TOKEN=3af7d93d9b4fd1f7d2e5b7a8c1e4f98a
WUZAPI_USER_TOKEN=cZ6KOwwVPyfNB3ulYJjSfTXvrQroZTzY
WUZAPI_SEND_URL=/chat/send
WUZAPI_TEST_PHONE=5511953869941
TYPEBOT_BASE_URL=https://viewer.dsilvamoda.cloud
TYPEBOT_API_KEY=GYLCJaHc0ijaouj3DLOnX-RvJ2AsxVhK9wgzlgS4tUU
TYPEBOT_PUBLIC_ID=meu-typebot-f362zn4
WEBHOOK_SECRET=JNNJVCEGGq4qmRSmdifLLA
LOG_LEVEL=info

DATABASE_URL=postgresql://postgres:9ff9d32ad703d9b16157fdbfde3c72b7@postgres:5432/wuzbot_engine

DB_HOST=postgres
DB_PORT=5432
DB_NAME=wuzbot_engine
DB_USER=postgres
DB_PASSWORD=9ff9d32ad703d9b16157fdbfde3c72b7

WUZMIND_ENABLED=true
WUZMIND_URL=https://wuzmind.dsilvamoda.cloud
WUZMIND_API_KEY=cJcW3tP4Czunu4xv
WUZMIND_TIMEOUT_MS=8000